*, *::after, *::before{
    box-sizing: inherit;  
}

html, body{
    min-height: 100%;
}

body{
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-color: #000;
    color: #FFF;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;    
}

.container{
    margin: 0 auto;
    max-width: calc(1170px + 30px); 
    padding: 0 15px;   
}

.red{
    color: #6B0505;
}

.header{
    padding: 5px 0;
    background: linear-gradient(180deg, #000000 0%, 
    #1B2115 100%);
}

.header__body{
    display: flex;
    align-items: center;    
}

.menu__link{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    transition: all 0.2s;
}

.header__menu{
    margin-left: auto; 
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    margin-right: 36px;
}

.menu__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu__item{
    margin-right: 36px;
    list-style-type: none;
}

.menu__item:last-child{
    margin-right: unset;
}

.logo{
    transition: all 0.3s;
}

.logo:hover{
    opacity: 0.6;
}

.header__btn{
    font-weight: 700;
    padding: 4px 30px;
    color: #FFFFFF;
    background-color: #6B0505;
    text-decoration: none;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    transition: all 0.3s;
    border: 3px solid transparent;
}

.logo{
    margin-right: auto;
}


.first {
    background: url("../img/bg_first.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first__title{
    margin: 0;
    padding: 0;
}

.first__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first__content{
    max-width: 610px;
}

.first__title{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 30px;
    background-color: #000;
}

.first__text{
    padding: 0;
    margin: 0;
    padding: 26px 30px;
    background: rgba(0, 0, 0, 0.75);
    max-width: 500px;
    margin-top: 25px;
}

.first__image{
    max-width: 400px;
}

.menu__link:hover{
    color: rgb(252, 49, 49);
}

.header__btn:hover{
    background: transparent;
    color: rgb(252, 49, 49);
    border: 3px solid #6B0505;  
}

.about__title{
    margin: 48 auto 0 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
}

.about{
    background: linear-gradient(180deg, #000000 0%, #1B2115 100%);
}

.about__list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.about_img{
    margin: 0;
    max-width: 356px;
}

.about__text{
    max-width: 282px;   
    margin-top: 21px;
    margin-left: 18px;
    margin-bottom: 97px;
}

.contact{
    background: url("../img/form_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact__section{
    margin-right: 0;
    background-color: rgba(3, 3, 3, 0.7);
    margin-left: auto;
    max-width: 624px;
    padding: 70px 75px 57px;
}

.contact__form{
    margin-left: auto;
    max-width: 624px;
}

.form__title{
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    margin-bottom: 54px;
}


.form__input{
    padding: 0;
    display: block;
    width: 100%;
    border: 3px solid #1B2115;
    align-content: center;
    padding: 22px;
    margin-bottom: 39px;
    color: #1B2115;
    background-color: rgba(255, 255, 255, 0.9);
}

.form__textarea{
    height: 252px;
    margin-bottom: 61px;
}

.contact__btn{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 25px 105px;
    background-color: #000000;

}

.footer{
    padding-top: 37px;
    padding-bottom: 32px;
}

.footer__body{
    display: flex;
    justify-content: space-between;
}

.contact__btn:hover{
    color:rgb(226, 4, 4);
    background-color: #000000;
    transition: all 0.4s;
}

.footer__social{
    margin: 0;
    padding: 0;
    text-align: left;
}

.footer__mail{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: inherit;
    text-decoration: none;
    margin-bottom: 23px;
    display: block;
}

.footer__logos{
    display: flex;
    padding: 0;
    margin: 0; 
    margin-bottom: 36px;  
}

.social__img{
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 12px;
    width: 35px;
    height: 35px;
}

.footer__company{
    margin: 0;
    font-size: 14px;
    line-height: 17px;
}

.footer{
    background: linear-gradient(180deg, #000000 0%, #1B2115 100%);

}

.footer__info{
    
}

.info__img{
    margin-bottom: 9px;
    display: block;
    text-align: right;
    line-height: 0;
}

.info__img:last-child{
    margin-bottom: 0;
}


